.listadonojuegan{
    background-image: url("../imgs/fondo-listado.png");
    background-repeat: repeat;
    left: -30px;
    padding: 10px;
    position: absolute;
    top: 67px;
    width: 651px;
}




.contenedorimagenlistado{
background-color: #4D4D4D;
height: 60px;
padding: 6px;
width: 50px;
float: left;
margin-right: 4px;
margin-left: 4px;

}

.contenedorimagenlistado img{
   height: 60px;
   width: 50px;
}

.contenedorinfo{
	float: left;
}


.listadonojuegan >div{
	background-color: #E6E6E6;
    float: left;
    height: 78px;
    margin-right: 7px;
    margin-top: 7px;
    padding: 5px;
    width: 200px;
}



.cerrarlistado{
	cursor: pointer;
	position: absolute;
	bottom:-15px;
	right: -15px;
    background-image: url("../imgs/cerrarlistado.png");
    width: 30px;
    height: 30px;
}

.cerrarlistado:hover{
    background-image: url("../imgs/cerrarlistado-over.png");


}

.dqj-btn{
	margin-top: 7px;
	cursor: pointer;
	background: none;
	border: none;
    background-image: url("../imgs/dqj-btn.jpg");
    width: 29px;
    height: 14px;


}

.dqj-btn:hover{
    background-image: url("../imgs/dqj-btn-over.jpg");
}