@(player: Player, footballMatch: FootballMatch)
@import helper._
<!DOCTYPE html>
<html>
	<head>
		<title>Ficha del Usuario</title>
		<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
		<script type="text/javascript" src="@routes.Assets.at("javascript/social.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascript/subirimagen.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascript/decilequejuegue.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascript/limitar.js")"></script>
	</head>
	<body>

	
		<div id='principal'>
			
			<div class="header">
				<div id='usuario'>
					<h2>BIENVENIDO</h2>
					<h3>@player.name @player.lastName</h3>
				</div>
				<div id='cerrar'><a href='logout.php'>cerrar sesion</a></div>
			</div>
		
			<div id="contenido">
				<div id="perfil">
					<div id="fotoyjugar">
						<!-- <div i d="foto">
							<img src="imgs/uploads/santiagovazq805420714.jpg" alt="noimage.jpg"/>
						</div> -->
						<div id="jugar">JUGAR</div>
						
						<div id="botonera">
							<div id="misdatos">
								<h2 class="titulo">MIS DATOS <span class="desplegable" id='desplegardatos'></span></h2>
								<p id='usrname'>@player.email</p>
								
								<div id="datospersonales">
									<div class="linea"></div>
									<ul>
										<li><span class='items'>nombre: </span>@player.name</li>
										<li><span class='items'>apellido: </span>@player.lastName</li>
										<li><span class='items'>mail: </span>@player.email</li>
									</ul>
									<span id='chngpass'>cambiar password</span>
								</div>
							</div>
						
							<div class="linea"></div>
						
							<div id="estado">
								<h2 class="titulo">ESTADO</h2>
								
								@if(footballMatch != null) {
									<span>@footballMatch.state</span>
								} else {
									<span>No hay partido asociado</span>								
								}

							</div>
						
							<div class="linea"></div>
						
							<div id="dqj">
								<h2 class="titulo">DQJ</h2>
								<span>decile que juegue</span>
							</div>				
						</div>
					</div>
				</div>	
				@if(footballMatch != null) {
					<div id="contenedorcancha">
						<div id="cancha">
							@(1 to 10).foreach((i) => {
								<div class='posicion' id='pos'+i>
									@defining(footballMatch.players.get(0)) { actualPlayer =>
										@if(actualPlayer != null) {
											<div id=actualPlayer.username class='usuarioposicion'>
												<!-- <div class="tooltip">
													<img src="imgs/uploads/santiagovazq805420714.jpg" alt="" />
												</div> -->
												<p>actualPlayer.name</p>
												<p>actualPlayer.lastName</p>
											</div>
										}
									})
								</div>
							}
						</div>
			
						<div id="datospartido">
				
							<div id="datosfecha">
								<h2 class="titulo">DATOS FECHA</h2>
								<p>@footballMatch.matchDate</p>
								<p>@footballMatch.stadium.name</p>
								<p>@footballMatch.stadium.address</p>
								<p>@footballMatch.stadium.telephone</p>				
								<p class='estadopartido'>SE JUEGA!</p>
							</div>
					
							<div class="linea"></div>
					
							<div id="faltan">
								@if(footballMatch.players.size() >= 10) {
									<h2 class="titulo">ESTAMOS TODOS!</h2>
								} else {	
									<h2 class="titulo">FALTAN</h2>
									<p><span id="contador"></span>/10</p>
								}
							</div>
				
							<div class="linea"></div>
						</div>
					</div>
				}
			</div>
		</div>
	</body>
</html>